*.d
*.so
*.pcm
*.root
*.png
*ACLiC*
*.log
*.cpython*
*dev.*
*.json
.DS_Store

build/
*/CMakeFiles/*
*.cmake
cmake/
Makefile
selection/toml/
spineplot/configurations
spineplot/styles
id_ed25519*
setup_sl7.sh
setup.sh
batch/debug
batch/project.db
