*.d
*.so
*.pcm
*.root
*.png
*ACLiC*
*.log
*.cpython*
*dev.*
*.json
.DS_Store

build/
selection/toml/*.toml
spineplot/configurations
spineplot/configurations/common/samples.toml
spineplot/styles
id_ed25519*
setup*
batch/debug
batch/project.db
